

 
body{
    background-color: #ffffff;
}

h1{
    color: #863A6F; 
}

h2{
    color: #863A6F; 
}


.nav-link  {
    color: #FFADBC;
}

.nav-link:hover {
    color: #D989B5;
}

.navbar-custom{
    background-color: #863A6F;
}

i{
   color: #863A6F;
}

i:hover{
    color: #FFADBC;
 }

.btn{
    background-color: #863A6F;
    color: #FFADBC;
}

.btn:hover{
    background-color: #FFADBC;
    color: #863A6F;
}

.progress-bar {
    background-color: #863A6F;

}